# Git ignore for repo 
# (makes sure file types specified ared commited)


# Mac storage files
.DS_Store

# git files
.gitattributes

# jetbrains files
.idea
Homeworks/hw04-mattjax16
Homeworks/hw04-mattjax16
Homeworks/hw04-mattjax16
Homeworks/hw07-mattjax16/
Homeworks/hw09-mattjax16/
Homeworks/hw08-mattjax16/
Homeworks/hw04-mattjax16
Labs/week03-lab-team-1/
Homeworks/hw04-mattjax16
